.product-card-container{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin: 10px;
     text-align: center;
     
 }
 
 .card{
     margin: 50px;
 }
 .product-car-imagen {
    width: 200px;
    height: 300px;
 }
 
 .card button{
     border: none;
     outline: 0;
     padding: 10px;
     color: white;
     background-color: black;
     text-align: center;
     cursor: pointer;
     width: 100%;
     font-size: 15px;
 }
 
 .card button:hover{
     opacity: 0.7;
 }

 .cartContent {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     margin: 30px;
 }
 
 .cartContent > img{
     height: 120px;
     width: 100px;
     text-align: center;
 }
 
 .cartTotal{
     text-align: center;
 }
 .cart-messagge-center{
     text-align: center;
     margin-top: 40px;
 }
 