.nav-container{
     position: sticky;
     z-index: 3;
     top: 0;
 }
 
 .navbar{
     display: flex;
     justify-content: space-between;
     height: 15vh;
     background-color: rgba(6, 221, 160, 0.925);
 }
 .navbar a {
    text-decoration: none;
  }
 
 .navbar-logo{
     justify-self: start;
     margin-left: 15px;
     color: rgb(0, 0, 0);
     margin-top: 4vh;
     cursor: pointer;
 }
 
 .seeCarrito{
     font-size: 25 px;
     margin-right: 20px;
     margin-top: 4vh;
     cursor:pointer;
     text-decoration: none;
 }